{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>google reg</title>
</head>
<body>
    <a href="{% provider_login_url "google" %}">
        <div style="text-align:center; margin-top: 50px">
        <button type="button">
            <h1>google account</h1>

            </button>
        </div>
    </a>
</body>
</html>